<configuration>

    <!-- Define loggers -->
    <logger name="com.dinedynamo" level="DEBUG" />

    <!-- Appender to write to file -->
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/application_logs.log</file> <!-- specify the path to your log file -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="fileAppender" /> <!-- add the file appender to the root logger only -->
    </root>

</configuration>
