<!--<configuration>-->

<!--    &lt;!&ndash; Define loggers &ndash;&gt;-->
<!--    <logger name="com.dinedynamo" level="DEBUG" />-->

<!--    &lt;!&ndash; Appender to write to console &ndash;&gt;-->
<!--    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Appender to write to file &ndash;&gt;-->
<!--    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/application_logs.log</file> &lt;!&ndash; specify the path to your log file &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Root logger &ndash;&gt;-->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="consoleAppender" />-->
<!--        <appender-ref ref="fileAppender" /> &lt;!&ndash; add the file appender to the root logger &ndash;&gt;-->
<!--    </root>-->

<!--</configuration>-->
<configuration>

    <!-- Define loggers -->
    <logger name="com.dinedynamo" level="DEBUG" />

    <!-- Appender to write to file -->
    <appender name="fileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/application_logs.log</file> <!-- specify the path to your log file -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="fileAppender" /> <!-- add the file appender to the root logger only -->
    </root>

</configuration>
